{
  "presets": [
    
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties", "@babel/plugin-transform-reserved-words",
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ],
  "ignore":[
    
  ]
}

// git commit -a -m "commit" && git push