// app global css in SCSS form
h1,h2,h3,h4,h5,h6{
    font-size: 1rem;
    margin: 10px 0;
    line-height: unset;
}
a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}
img{
    width: 100%;
    height: auto;
}
.text-white{
    color: #fff;
}
.heading{
    text-align: center;
    font-size: 2em;
    margin: .5em 0 1em;
    font-weight: 500;
    letter-spacing: 1px;
}
.flex-h{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img.edit{
    max-width: 25px;
    &:hover{
        cursor: pointer;
    }
}
.previewImg{
    img{
        max-width: 80px;
    }
}
.modalHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    width: 80%;
    margin: 0 auto;
}