// app global css in SCSS form
.container{
 width: 80%;
 max-width: 80%;   
}
h1,h2,h3,h4,h5,h6{
    font-size: 1rem;
    margin: 10px 0;
    line-height: unset;
}
p{
    text-align: justify;
    line-height: 2em;
}
a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}
img{
    width: 100%;
    height: auto;
}
.w-100{
    width: 100%;
}
.text-white{
    color: #fff;
}
.heading{
    text-align: center;
    font-size: 2em;
    margin: .5em 0 1em;
    font-weight: 300;
    letter-spacing: 1px;
    span{
        font-weight: 700;
    }
}
.flex-h{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img.edit{
    max-width: 25px;
    &:hover{
        cursor: pointer;
    }
}
.previewImg{
    img{
        max-width: 80px;
    }
}
.modalHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.oneLine{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}
.q-item:hover{
    cursor: pointer;
}
.my-sticky-header-table{
    height: 70vh;
    thead tr th{
        position: sticky;
        z-index: 1;
    }
    thead tr:first-child th{
        top: 0;
    }
    .q-table__top,.q-table__bottom,thead tr:first-child th{
        background-color: $primary;
        color: #fff;
    }
}
.points {
    .col-sm-4{
        h3{
            text-align: center;
            font-size: 15px;
            font-weight: 500;
        }
        p {
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
        }
        img {
            max-width: 250px;
            margin: 1em auto;
            display: block;
        }
        &:hover img{
            transform: scale(1.1);
            transition: transform .6s ease-out,-webkit-transform .6s ease-out;
        }
    }
}
.child{
    position: relative;
    h4{
        text-align: center;
        margin-bottom: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
    }
    >div{
        border: 1px dashed #002147;
        background: #f7f2e3!important;
        padding: 2em;
        text-align: center;
    }
    .closeBtn{
        position: absolute;
        top: 1em;
        right: 1em;
        background: $primary;
        color: #fff;
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
}
.optionItemDetail, .question{
    p{
        margin-bottom: 0
    }
}
.filterRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .filterBy{
        min-width: 250px;
    }
}